<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Restful Web Application</display-name>


	<display-name>My App</display-name>
	<description>my Application</description>
	<welcome-file-list>
		<welcome-file>test.html</welcome-file>
	</welcome-file-list>

	<servlet>
	
		<!-- #_#_#_#_#_#_#_#_#_#_# JERSEY JAX RS CONFIGURATION #_#_#_#_#_#_#_#_#_#_ -->
		<!-- <servlet-class> com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class> 
			<init-param> <param-name>com.sun.jersey.config.property.packages</param-name> 
			<param-value>brb.research.rest</param-value> </init-param> -->

<!-- Reference URL: http://cxf.apache.org/docs/jaxrs-services-configuration.html#JAXRSServicesConfiguration-WithCXFNonSpringJaxrsServlet -->
		<!-- #################### APACHE CXF RS CONFIGURATION ############################### -->
		
		<servlet-name>cxf-servlet</servlet-name>
		<servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
		<init-param>
			<param-name>jaxrs.serviceClasses</param-name>
			<param-value>brb.research.rest.Service</param-value>
		</init-param>
		<async-supported>true</async-supported>
	</servlet>

	<servlet-mapping>
		<servlet-name>cxf-servlet</servlet-name>
		<url-pattern>/home/*</url-pattern>
	</servlet-mapping>
	
</web-app>